@model TesteProjeto.Models.Comentario



<h2>@ViewBag.Title "Criar Comentário" : "Editar Comentário";</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Texto)
        @Html.TextAreaFor(m => m.Texto, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
}



